
.CommonV2 table {
	background-color: #000000;
	border-collapse: collapse;
}

.CommonV2 tr.sched {
	height: 20px;
}

.CommonV2 th {
	background-color: #addfff;
	border: 1px solid #000000;
	padding: 0px 5px 0px 5px;
}

.CommonV2 td {
	background-color: #ffffff;
	border: 1px solid #000000;
	padding: 0px 5px 0px 5px;
}

.CommonV2 td.c {
	background-color: #ffffff;
	border: 1px solid #000000;
	padding: 0px 5px 0px 5px;
	text-align: center;
}

.CommonV2 td.cok {
	background-color: #90ee90;
	border: 1px solid #000000;
	padding: 0px 5px 0px 5px;
	text-align: center;
}

.CommonV2 td.cwarn {
	background-color: #ffff00;
	border: 1px solid #000000;
	padding: 0px 5px 0px 5px;
	text-align: center;
}

.CommonV2 td.cbad {
	background-color: #ff0000;
	border: 1px solid #000000;
	padding: 0px 5px 0px 5px;
	text-align: center;
}

.CommonV2 td.no_school {
	background-color: #d3d3d3;
	border: 1px solid #000000;
	padding: 0px 5px 0px 5px;
	text-align: center;
}

.CommonV2 button {
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
   -khtml-border-radius: 20px;
   border-radius: 20px;
}

.CommonV2 input.red {
	background-color: #FF0000;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
   -khtml-border-radius: 20px;
   border-radius: 20px;
}

.CommonV2 input.green {
	background-color: #00FF00;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
   -khtml-border-radius: 20px;
   border-radius: 20px;
}

.CommonV2 li {
	  text-align: left;
}

.control {
	background-color: #FF3399;
	padding: 10px 20px 20px 20px;
}

.admin {
	background-color: #0099FF;
	padding: 10px 20px 20px 20px;
}

.accounting {
	background-color: #90ee90;
	padding: 10px 20px 20px 20px;
}

.secretary {
	background-color: #ff9966;
	padding: 10px 20px 20px 20px;
}

.teacher {
	background-color: #FFD700;
	padding: 10px 20px 20px 20px;
}

.left {
      text-align: left;
}

.billing table {
	background-color: #000000;
	border-collapse: collapse;
}

.billing th {
	background-color: #addfff;
	border: 1px solid #000000;
	padding: 0px 5px 0px 5px;
}

.billing th.name {
	background-color: #addfff;
	border: 1px solid #000000;
	padding: 0px 5px 0px 5px;
	text-align: left;
	width: 200px;
}


.billing td {
	background-color: #ffffff;
	border: 1px solid #000000;
	padding: 0px 5px 0px 5px;
}

.billing td.grey {
	background-color: #999999;
}

.billing td.greyc {
	background-color: #c0c0c0;
	text-align: center;
}

.billing td.name {
	background-color: #ffffff;
	border: 1px solid #000000;
	padding: 0px 5px 0px 5px;
	width: 200px;
}

.billing td.c {
	background-color: #ffffff;
	border: 1px solid #000000;
	padding: 0px 5px 0px 5px;
	text-align: center;
}

.billing td.emer, td.neg {
	background-color: #ffff00;
	border: 1px solid #000000;
	padding: 0px 5px 0px 5px;
	text-align: right;
}

.billing td.r {
	background-color: #ffffff;
	border: 1px solid #000000;
	padding: 0px 5px 0px 5px;
	text-align: right;
}

.billing td.rbal {
	background-color: #ffff00;
	border: 1px solid #000000;
	padding: 0px 5px 0px 5px;
	text-align: right;
}

.billing td.rpos, td.zero {
	background-color: #90ee90;
	border: 1px solid #000000;
	padding: 0px 5px 0px 5px;
	text-align: right;
}

.billing td.pos {
	background-color: #ff0000;
	border: 1px solid #000000;
	padding: 0px 5px 0px 5px;
	text-align: right;
}

.payment {
	display: none;
}

.source table {
        background-color: #000000;
        border-collapse: collapse;
        border: 1px solid #000000;
}

.source th {
        background-color: #addfff;
        border: 1px solid #000000;
        padding: 5px;
}

.source td {
        background-color: #FFFFFF;
        border: 1px solid #000000;
        padding: 5px;
}

.source td.c {
        background-color: #FFFFFF;
        border: 1px solid #000000;
        padding: 5px;
        text-align: center;
}

.source td.ok {
        background-color: lightgreen;
        border: 1px solid #000000;
        padding: 5px;
}

.source td.not {
        background-color: yellow;
        border: 1px solid #000000;
        padding: 5px;
}

.source td.md5 {
        font-family: monospace;
        font-size: 10pt;
        text-align: right;
        background-color: white;
        border: 1px solid #000000;
        padding: 5px;
		  width: 350px;
}

